*{
  margin: 0;
  padding: 0;
}
body{
    margin: 0 auto;
    font-family: Arial,Helvetica,sans-serif;
  color: #555;
  font-size: 13px;
  height: 100%;
  background-color: #ebebeb;
}
#left-panel a{
  color: #f26c4f;
  text-decoration: none;
}
a{
  color: #f26c4f;
  text-decoration: none;
}
a:hover{
  color: #f26c4f;
  text-decoration: underline;
}
img{
  vertical-align:middle;
}
hr{
  color: #8f8f8f;
  margin: 15px 2px 15px;
}
#header{
  background-color: #373737;
  z-index: 999;
  position: relative;
  background-color: #373737;
  min-height: 105px;
}
.logo{
  height: 65px;
  top: 20px;
  left: 20px;
    position: absolute;
}
.logo img{
  height: 65px;
}
.logo a:hover{
  text-decoration: none;
}
.logo span{
  color: #ffffff;
  font-size: 20px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  height: 65px;
  margin-left: 15px;
  font-weight: bold;
}
#user-board{
  top: 38px;
  right: 10px;
    position: absolute;
}
.user-panel{
  list-style-type:none; 
}
.user-panel li{
  padding-right: 10px;
  display: inline;
}
.user-panel #notifications{
  width: 32px;
  text-align: center;
  height: 29px;
  border-color: #d8d8d8;
  background: #ebebeb;
  color: #9c9c9c;
  display: inline-block;
  border: solid 1px transparent;
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
}
.user-panel .user-name{
  color: #ebebeb;
  font-size: 18px;
}
.user-panel .avatar{
  height: 29px;
  width: 32px;
  vertical-align: middle;
}
.user-panel .settings{
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
#search{
  width: 560px;
  bottom: 30px;
  left: 360px;
    position: absolute;
  height: 45px;
  vertical-align: middle;
}
.search-box{
  float: left;
  border: 0px;
  height: 45px;
  width: 250px;
  font-size: 14px;
  color: #a5a5a5;
  background: white url("search.png") 270px no-repeat;
  background-size: 25px;
  padding-left: 10px;
  padding-right: 45px; 

}
.search-box:focus{
  box-shadow: 0 0 5px #f26c4f;
}
.category-select{
  float: right;
  width: 240px;
  overflow: hidden;
  background: white url(select-button.jpg) right no-repeat;
    background-size: 40px 45px;
}
.category-select select{
  border: 0px;
  height: 45px;
  width: 260px;
  font-size: 14px;
  color: #a5a5a5;
  background: transparent;
    padding-left: 10px;
}
.category-select option{
  border: 0;
  font-size: 14px;
  color: #a5a5a5;
    padding-left: 10px;
    height: 45px;
}
.recommended-items{
  list-style-type:none;
}
.recommended-items li{
  background-color: white;
  margin-bottom: 5px;
  min-height: 70px;
  box-shadow: 2px 2px 1px #cacaca;
  width: 100%;
}
.recommended-items img{
  margin-left: 5px;
  margin-top: 5px;
  width: 80px;
  height: 60px;
  float: left;
}
.recommended-items .item-info{
  margin-left: 90px;
  margin-right: 5px;
}
.recommended-items .item-title{
  font-weight: bold;
}
.recommended-items .item-address{
  text-align: justify;
}
#wrapper{
height: 100%;
}
#left-panel{
  top: 107px;
  position: absolute;
  z-index: 888!important;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 360px;
}
#map-area{
background-color: rgb(229, 227, 223);
overflow: hidden;
top: 107px;
position: absolute!important;
left: 365px;
right: 0;
bottom: 0;
}
#scroll-left-panel{
height: 100%;
  overflow-y: auto;
}
#map-canvas{
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
}