*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #ebebeb;
}
a{
  color: #f26c4f;
  text-decoration: none;
}
.hide{
  display: none;
}
#container a:hover{
  text-decoration: underline;
}
img{
  vertical-align:middle;
}
hr{
  clear: both;
  color: #8f8f8f;
  margin: 15px 2px 15px;
}
#header{
  height: 65px;
  background-color: #373737;
}
.wrap{
  width: 940px;
  margin: auto;
  clear: both;
}
.logo{
  float: left;
  height: 65px;
  vertical-align: middle;
}
.logo img{
  height: 65px;
}
.logo span{
  color: #ffffff;
  font-size: 20px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  height: 65px;
  margin-left: 15px;
  font-weight: bold;
}
.user-panel{
  list-style-type:none;
  height: 65px;
  float: right;
  color: #ebebeb;
  font-size: 18px;
}
.user-panel li{
  padding-left: 10px;
  line-height: 65px;
  display: inline;
}
.user-panel #notifications{
  width: 32px;
  text-align: center;
  height: 29px;
  border-color: #d8d8d8;
  background: #ebebeb;
  color: #9c9c9c;
  display: inline-block;
  border: solid 1px transparent;
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
}
.user-panel .user-name{
  color: #ebebeb;
  font-size: 18px;
}
.user-panel .avatar{
  height: 29px;
  width: 32px;
  vertical-align: middle;
}
.user-panel .settings{
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
#nav{
  background-color: #474747;
  height: 70px;
}
#nav-menu{
  padding-left: 20px;
  list-style-type:none;
  height: 70px;
  width: 400px;
  float: left;
}
#nav-menu li{
  line-height: 70px;
  display: inline;
  font-size: 20px;
}
#nav-menu li a{
  color: #adadad;
  text-decoration: none;
  padding: 20px;
}
#nav-menu li.active a{
  color: #f26c4f;
  border-bottom: 3px solid #f26c4f;
}
#nav-menu li a:hover{
  color: #f26c4f;
  border-bottom: 3px solid #f26c4f;
}
.user-action{
  list-style-type:none;
  height: 70px;
  float: right;
}
.user-action li{
  padding: 0 10px;
  line-height: 70px;
  display: inline;
  font-size: 14px;
}
.user-action img{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.user-action a{
  color: #adadad;
}
.user-action a:hover{
  color: #f26c4f;
  text-decoration: none;
}
.user-action .active a{
  color: #f26c4f;
}
#search{
  height: 45px;
  margin-top: 15px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.search-box{
  border: 0px;
  height: 45px;
  width: 250px;
  font-size: 14px;
  color: #a5a5a5;
  background: white url(search.png) 270px no-repeat;
  background-size: 25px;
  padding-left: 10px;
    padding-right: 45px;
    float: left;
    margin-right: 20px;

}
.search-box:focus{
  box-shadow: 0 0 5px #f26c4f;
}
.category-select{
  width: 240px;
  float: left;
  overflow: hidden;
  background: white url(select-button.jpg) right no-repeat;
    background-size: 40px 45px;
}
.category-select select{
  border: 0px;
  height: 45px;
  width: 260px;
  font-size: 14px;
  color: #a5a5a5;
  background: transparent;
    padding-left: 10px;
}
.category-select option{
  border: 0;
  font-size: 14px;
  color: #a5a5a5;
    padding-left: 10px;
    height: 45px;
}
.share-button{
  float: right;
  line-height: 45px;
}
.share-button a{
  color: #8f8f8f
}
.share-button a:hover{
  color: #f26c4f;
}
#feature{
  height: 390px;
}
#slide-image{
  width: 630px;
  height: 100%;
  background-color: #454f82;
  float: left;
  border-right: 10px solid #f26c4f;
}
#slide-image img{
  height: 390px;
  width: 100%;
}
#store-info{
  width: 300px;
  float: right;
  color: #8d8d8d !important;
  text-align: center;
  background-color: #373737;
  height: 100%;
}
#store-info h2{
  margin: 10px;
}
#store-info ul{
  list-style-type:none;
}
#store-info li{
  text-align: left;
  margin: 10px;
}
#store-info img{
  width: 15px;
  margin-right: 10px;
}
#store-info a{
  color: #8d8d8d;
}
#store-info p{
  margin: 20px;
  text-align: justify;
}
#container{
  clear: both;
  margin-top: 20px;
}
#main{
  min-height: 500px;
  width: 620px;
  background-color: #ffffff;
  float: left;
}
#content{
  padding: 20px 20px;
  text-align: justify;
}
.slogan{
  text-align: center;
  color: #474747;
  margin-top: 10px;
}
#content img{
  width: 100% !important;
  height: auto !important;
}
#side-bar{
  width: 300px;
  float: right;
}
.slide-box{
  width: 100%;
  color: #474747;
}
.slide-box .box-title{
  font-size: 20px;
  font-weight: bold;
}
.slide-box .box-content{
  margin-top: 10px;
}
.recommended-items{
  list-style-type:none;
}
.recommended-items li{
  background-color: white;
  margin-bottom: 5px;
  min-height: 70px;
  box-shadow: 5px 2px 1px  #cacaca;
  width: 295px;
}
.recommended-items img{
  margin-left: 5px;
  margin-top: 5px;
  width: 80px;
  height: 60px;
  float: left;
}
.recommended-items .item-info{
  margin-left: 90px;
  margin-right: 3px;
}
.recommended-items .item-title{
  font-weight: bold;
}
.recommended-items .item-address{
  text-align: justify;
}
.top-board{
}
.basic-info{
  width: 440px;
  float: right;
}
.map-area{
  width: 450px;
}
.detail-info{
  clear: both;
}
textarea{
  width: 415px;
  height: 120px;
  border: 0px;
  font-size: 14px;
  color: #a5a5a5;background: white;
  padding: 10px;
}
input[type=text], input[type=password]{
  border: 0px;
  width: 415px;
  height: 45px;
  font-size: 14px;
  color: #a5a5a5;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
}